.disabled {
  opacity: 0.4;
}

.centered-checkbox {
  width: 340px;
  height: 40px;
  font-size: 14px;
}

.centered-checkbox input {
  width: 30px;
}

.color-selectors {
  display: flex;
}

.color-selector {
  margin-right: 40px;
}

.color-selector p {
  font-size: 14px;
  font-weight: 200;
}

.color-preview {
  margin: 20px 0px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.color-preview:hover {
  opacity: 0.75;
}

.color-pickers {
  display: flex;
}
