.add-section-button {
  color: black;
  background-color: transparent;
  width: 60px;
  height: 48px;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.add-section-button:focus {
  outline: none;
  opacity: 0.7;
  box-shadow: 0 0 2px 2px black;
}

.form-container {
  margin: 30px 10px;
}

.cancel-button {
  margin-right: 10px;
}

.form-container input,
.form-container textarea,
.image-upload-btn,
.font-select,
.font-select option {
  font-family: monospace, sans-serif;
  margin: 20px 0px;
  padding: 20px;
  width: 340px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12); */
}

.form-container input[type='file'] {
  display: none;
}

.image-upload-container {
  margin: 40px 0px;
}

.image-preview {
  margin: 20px 0px;
  max-width: 400px;
}

.image-preview img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .add-section-button {
    width: 100px;
    height: 80px;
  }

  .form-container {
    width: 600px;
    margin: 30px 50%;
    transform: translateX(-50%);
  }
}
