button {
  font-family: monospace, sans-serif;
  background-color: black;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 6px;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
}

button:disabled:hover {
  cursor: default;
  opacity: 0.4;
}

button:hover {
  opacity: 0.75;
}

button:active {
  opacity: 0.4;
}

.admin-buttons {
  margin: 30px auto;
  text-align: center;
}

.delete-edit-buttons {
  /* width: 160px; */
  text-align: right;
}

.post-card {
  max-width: 700px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 10px;
  padding: 10px;
  box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-previews {
  width: 300px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.up-down-arrows button {
  margin: 5px 0px;
  color: black;
  background-color: transparent;
  border: none;
}

.up-down-arrows button:focus {
  outline: 0;
}

@media only screen and (min-width: 565px) {
  button {
    padding: 8px;
  }

  .post-card {
    margin: 30px auto;
    padding: 20px;
  }

  .section-previews {
    width: 500px;
  }

  .up-down-arrows button {
    margin: 5px 10px 5px 0px;
  }
}
