.container {
  min-width: 650px;
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  margin: 30px 0px;
}

button {
  font-family: monospace, sans-serif;
  background-color: black;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.2;
}

button:disabled:hover {
  cursor: default;
  opacity: 0.2;
}

button:hover {
  opacity: 0.75;
}

.admin-buttons {
  margin: 30px auto;
  text-align: center;
}

.delete-edit-buttons {
  width: 160px;
  text-align: right;
}

.error {
  margin: 20px 0px;
}

.post-list {
  max-width: 700px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list img {
  max-width: 100%;
}

.post-list p {
  margin: 30px 0px;
}

.img-container {
  width: 60px;
  height: 60px;
  display: flex;
}

.img-container img {
  width: 100%;
  margin: 2px;
  border-radius: 50%;
}

.admin-thumbs {
  margin: 20px 0px;
  max-width: 400px;
}

.admin-thumbs img {
  width: 100%;
}

.section-previews {
  width: 500px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.form-container {
  margin: 30px;
}

.form-container input,
.form-container textarea,
.image-upload-btn {
  font-family: monospace, sans-serif;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.12);
}

.form-container input[type='file'] {
  display: none;
}

.image-upload-container {
  margin: 40px 0px;
}

.up-down-arrows button {
  color: black;
  background-color: transparent;
  border: none;
}

.up-down-arrows button:focus {
  outline: 0;
}
