.section-preview {
  display: flex;
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  margin: 20px 10px 20px 0px;
  overflow: hidden;
}

.section-preview img {
  width: 100%;
}

.preview-title-text h5,
.preview-title-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-title-text p {
  font-size: 6px;
  margin: 0px;
}
