.section-preview {
  display: flex;
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  margin: 20px 10px 20px 0px;
  overflow: hidden;
}

.section-preview img {
  width: 100%;
}

.preview-title-text h5,
.preview-title-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-title-text p {
  font-size: 6px;
  margin: 0px;
}

.editing {
  opacity: 0.7;
  box-shadow: 0 0 2px 2px black;
}

.delete-section-button {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0.4;
}

.delete-section-button:hover {
  opacity: 1;
}
