.section-preview {
  display: flex;
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  flex-basis: 70px;
  height: 56px;
  border-radius: 5px;
  margin: 20px 5px 20px 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.15s all linear;
}

.edit-post-screen:hover {
  opacity: 0.7;
  cursor: pointer;
}

.preview-title-text h5,
.preview-title-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-title-text h5 {
  font-size: 10px;
}

.preview-title-text p {
  font-size: 6px;
  margin: 0px;
}

.editing {
  opacity: 0.7;
  box-shadow: 0 0 2px 2px black;
}

.delete-section-button {
  position: absolute;
  top: 20%;
  left: 20%;
  line-height: 10px;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0.4;
}

.delete-section-button:hover {
  opacity: 1;
}

@media only screen and (min-width: 565px) {
  .section-preview {
    flex-basis: 100px;
    height: 80px;
    margin: 20px 10px 20px 0px;
  }

  .preview-title-text h5 {
    font-size: 13.3px;
  }
}
