* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 0.8rem;
  font-weight: 100;
}

@media only screen and (min-width: 565px) {
  h3 {
    font-size: 1rem;
  }
}

@font-face {
  font-family: 'backout';
  src: url('../src/fonts/BackOut.woff2') format('woff2'),
    url('../src/fonts/BackOut.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cantiquenormal';
  src: url('../src/fonts/Cantique-Normal.woff2') format('woff2'),
    url('../src/fonts/Cantique-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cirrus-cumulus';
  src: url('../src/fonts/CirrusCumulus.ttf') format('truetype'),
    url('../src/fonts/CirrusCumulus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lack';
  src: url('../src/fonts/Lack-Regular.woff2') format('woff2'),
    url('../src/fonts/Lack-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'format1452';
  src: url('../src/fonts/Format_1452.woff2') format('woff2'),
    url('../src/fonts/Format_1452.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'solide-mirage';
  src: url('../src/fonts/Solide_Mirage-Etroit_web.woff2') format('woff2'),
    url('../src/fonts/Solide_Mirage-Etroit_web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pyromaani';
  src: url('../src/fonts/Pyromaani.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'modell-envelo';
  src: url('../src/fonts/Modell\ Envelo\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'synuous-bold';
  src: url('../src/fonts/Synuous\ Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rbno31';
  src: url('../src/fonts/RBNo3.1-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
